# env variables
.env
# .env file
.env
*.env
.env*
.env.local
.env.dev
.env.test

# tests
/tests
*/tests

#  build outputs
/build
 
#  python interpreter cache
.venv
 
#  generated code
*.codiumai.*

*.codiumai.local.toml